@import "tailwindcss";

@layer base {
  :root {
    --gradient-color: #8350e8;
    --sparkles-color: #ffffff;
  }
}


@layer utilities {
  .animate-marquee-lr {
    animation: marquee-lr 25s linear infinite;
  }

  .animate-marquee-lr:hover {
    animation-play-state: paused;
  }
}

@keyframes marquee-lr {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}